td.vmiddle
  input.input-medium(name='name', value=user.name, type='text')
td.vmiddle
  input.input-medium(name='firstName', value=user.firstName, type='text')
td.vmiddle
  input.input-medium(name='lastName', value=user.lastName, type='text')
td.vmiddle
  select.input-small(name='group')
    each role in ['admin', 'member', 'guest']
      if user.group === role
        option(value=role, selected="selected")= role
      else
        option(value=role)= role
  a.role-help(href="#",
                 data-toggle="popover",
                 data-placement="right")
     small.muted &nbsp;[?]
td.edit
  if user._id
    btn.btn.user-edit-button.change-password-button
      i.icon-lock
  a.btn.user-save-button(title='save')
    i.icon-ok
  if !user._id
    a.btn.user-remove-button(title='remove')
      i.icon-remove
