td.vmiddle
  input.input-medium.form-control(name='name', value=user.name, type='text')
td.vmiddle
  input.input-medium.form-control(name='firstName',
    value=user.firstName, type='text')
td.vmiddle
  input.input-medium.form-control(name='lastName',
    value=user.lastName, type='text')
td.vmiddle
  select(name='group').form-control
    each role in ['admin', 'member', 'guest']
      if user.group === role
        option(value=role, selected="selected")= role
      else
        option(value=role)= role
  | &nbsp;
  a.role-help(href="#",
              data-toggle="popover",
              data-placement="right")
     small.muted [?]
td.edit
  if user._id
    a.btn.btn-default.user-edit-button.change-password-button
      i.icon-lock
  a.btn.btn-default.user-save-button(title='save')
    i.icon-ok
  if !user._id
    a.btn.btn-default.user-remove-button(title='remove')
      i.icon-remove
