td.vmiddle
  input.input-medium(name='name', value=user.name, type='text')
td.vmiddle
  input.input-medium(name='firstName', value=user.firstName, type='text')
td.vmiddle
  input.input-medium(name='lastName', value=user.lastName, type='text')
td.vmiddle
  select.input-medium(name='group')
    each role in ['admin', 'member']
      if user.group === role
        option(value=role, selected="selected")= role
      else
        option(value=role)= role
  a.role-help(href="#",
                 data-toggle="popover",
                 data-placement="right")
     small.muted &nbsp;[?]
  :coffeescript
    content = "<small class='muted'><p><b>Admin</b> is allowed everything.</p>" +
    "<p><b>Member</b> is same as admin, but has User Management page inaccessible.</p>" +
    "<p><b>Guest</b> is same as member, but can't edit anything.</p></small>"
    $('.role-help').popover
      content: content
      html: true
      trigger: 'hover'
td.edit
  if user._id
    btn.btn.user-edit-button.change-password-button
      i.icon-lock
  a.btn.user-edit-button(href='#save/' + cid)
    i.icon-ok
  if !user._id
    a.btn.user-edit-button(href='#remove/' + cid)
      i.icon-remove
