div.description.row
  - var d = new Date(job.addedTime)
  div.time "#{d.toDateString()} #{d.toTimeString()}"
  if job._id
    div.id "#{job._id.toString()}"
  if !job.failed && !job.finished
    a.btn.job-cancel Cancel
  div(class="outcome")
    if job.failed
      span.failure-icon.icon: i.icon-exclamation
      | &nbsp;failure
    else if job.finished
      span.success-icon.icon: i.icon-ok
      | &nbsp;success
    else
      span.spinner-icon.icon: i.icon-spinner
div.log.row
  each item in log
    if item.type === 'output' || item.type === 'error'
      div.output= item.content
    else
      | #{item.content}
      br
