div.description
  div.expand
    i.icon-chevron-sign-down
  - var d = new Date(job.addedTime)
  div.time "#{d.toDateString()} #{d.toTimeString()}"
    if job._id
      div.id "#{job._id.toString()}"
    if job.finished
     - var outcomeClass = job.failed ? '.failure' : '.success'
      div(class=".outcome#{outcomeClass}")
        if job.failed
          | &#10008;&nbsp;failure
        else
          | &#10003;&nbsp;success
    else
      i.icon-spinner
div.log!= job.log
